.sidebar {margin-bottom: 45px;}
.jackpot-image {width:120px !important;height: 85px !important;}
.lottery-list {padding:0 0 20px !important;}
.middle-section {padding: 20px 20px 30px;}
.pagination { float: left;
    margin: 0px !important;}
.middle-section .summary {text-align: right}